#rover{
    position: absolute;
    width: 100px;
    transition: all 500ms linear;
   
}
.rock{
    position: absolute;
    width: 100px;
    margin-top: 10px;
}
.btns {
    position: absolute;
    z-index: 10;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0.8;
}
.column {
    flex: 1;
    text-align: center;
}
.icon {
    cursor: pointer;

    font-size: 100px;
}
.icon:hover {
    background-color: rgba(127, 255, 212, 0.322);
}